In [1]:
import pandas as pd

In [2]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\kayna\appdata\roaming\python\python313\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\kayna\appdata\roaming\python\python313\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
df=pd.read_excel(r"C:\Users\kayna\Downloads\Financial_Sample.xlsx")

In [8]:
df

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20.0,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20.0,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15.0,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,NaN,888.0,3,15.0,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,NaN,2470.0,3,15.0,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300.0,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300.0,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7.0,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7.0,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12.0,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [9]:
print(df.columns)
print("Total Columns:" ,len(df.columns))

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       ' Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')
Total Columns: 16

In [12]:
#find missing values in your Dataset
df.isnull().sum()

Segment                 8
Country                11
Product                 8
Discount Band          62
Units Sold              5
Manufacturing Price     0
Sale Price              7
Gross Sales             5
Discounts               5
 Sales                  0
COGS                    0
Profit                  0
Date                    0
Month Number            0
Month Name              0
Year                    0
dtype: int64

In [20]:
#finding missing values column and their data types 
#EDA(Exploratory Data Analysis)
print("columnName\tnull\tDtype")
for col in df.columns:
    if df[col].isnull().sum()>0:
        print(col,"\t",df[col].isnull().sum(),"\t",df[col].dtype)

columnName	null	Dtype
Segment 	 8 	 object
Country 	 11 	 object
Product 	 8 	 object
Discount Band 	 62 	 object
Units Sold 	 5 	 float64
Sale Price 	 7 	 float64
Gross Sales 	 5 	 float64
Discounts 	 5 	 float64

In [22]:
#way to fill missing values
df.Segment.unique()

array(['Government', 'Midmarket', 'Channel Partners', 'Enterprise',
       'Small Business', nan], dtype=object)

In [23]:
df.Segment.mode()

0    Government
Name: Segment, dtype: object

In [25]:
df.Segment.fillna(value='Unknown_Segment')

0            Government
1            Government
2             Midmarket
3             Midmarket
4             Midmarket
             ...
695      Small Business
696      Small Business
697          Government
698          Government
699    Channel Partners
Name: Segment, Length: 700, dtype: object

In [28]:
df.Segment=df.Segment.fillna(value='Unknown_Segment')

In [29]:
df.Segment.isnull().sum()

np.int64(0)

In [31]:
df.Segment.head(45)

0           Government
1           Government
2            Midmarket
3            Midmarket
4            Midmarket
5           Government
6            Midmarket
7     Channel Partners
8           Government
9     Channel Partners
10           Midmarket
11          Enterprise
12      Small Business
13          Government
14          Enterprise
15           Midmarket
16          Government
17           Midmarket
18    Channel Partners
19          Government
20    Channel Partners
21          Government
22           Midmarket
23      Small Business
24           Midmarket
25          Government
26          Government
27    Channel Partners
28           Midmarket
29          Government
30     Unknown_Segment
31     Unknown_Segment
32          Enterprise
33    Channel Partners
34          Government
35    Channel Partners
36          Enterprise
37          Enterprise
38      Small Business
39    Channel Partners
40           Midmarket
41           Midmarket
42          Government
43      Small Business
44          Government
Name: Segment, dtype: object

In [32]:
#finding all object dtype column names 
df.select_dtypes(include='object').columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Month Name'], dtype='object')

In [40]:
# filling missing  values(replace null  values by the mode)
for col in df.select_dtypes(include='object').columns:
    print(df[col].mode()[0])

Government
France
Paseo
High
October

In [41]:
for col in df.select_dtypes(include='object').columns:
    df[col]=df[col].fillna(value=df[col].mode()[0])

In [42]:
df.select_dtypes(include='object').isnull().sum()

Segment          0
Country          0
Product          0
Discount Band    0
Month Name       0
dtype: int64

In [44]:
#finding missing values from numerical data and column name
df.select_dtypes(include='float').columns

Index(['Units Sold', 'Sale Price', 'Gross Sales', 'Discounts', ' Sales',
       'COGS', 'Profit'],
      dtype='object')

In [46]:
df['Profit'].mean()

np.float64(24133.860371428567)

In [50]:
#filling missing values(replace null with mean/average)
for col in df.select_dtypes(include='float64').columns:
    print(df[col].mean())

1607.8805755395683
117.91486291486291
183967.04244604317
13077.16234532374
169609.07179999998
145475.21142857143
24133.860371428567

In [51]:
for col in df.select_dtypes(include='float64').columns:
    df[col]=df[col].fillna(value=round(df[col].mean(),2))

In [52]:
df.select_dtypes(include='float64').isnull().sum()

Units Sold     0
Sale Price     0
Gross Sales    0
Discounts      0
 Sales         0
COGS           0
Profit         0
dtype: int64

In [53]:
#NOW missing values in DataSet
df.isnull().sum()

Segment                0
Country                0
Product                0
Discount Band          0
Units Sold             0
Manufacturing Price    0
Sale Price             0
Gross Sales            0
Discounts              0
 Sales                 0
COGS                   0
Profit                 0
Date                   0
Month Number           0
Month Name             0
Year                   0
dtype: int64